.auth-page {
  height: 100%;
  background: black;
  overflow: auto;
  padding-top: 5%;
}

.auth-form-container {
  height: 100%;
}

.auth-form-title {
  height: 10%;
  color: white;
  text-align: center;
  margin-bottom: 3%;
}

.auth-form-title > p {
  font-size: 20px;
  height: 25%;
  width: 100%;
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}

.auth-form {
  color: white;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 200;
  height: 100%;
  width: 70%;
}

.auth-form > input {
  background: #dddddd;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  border: 2px solid grey;
  outline: 0;
  padding-left: 15px;
  -webkit-transition: border .7s ease;
  -moz-transition: border .7s ease;
  -o-transition: border .7s ease;
  transition: border .7s ease;
}

input.invalid-email-input {
  border: 3px solid #ce2c2c;
}


.invalid-login {
  height: 10%;
  margin-bottom: 20px;
}

.invalid-login-message {
  color: black;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #ea3939;
  border-radius: 10px;
  width: 70%;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  background: #ecdede;
}

#login-forgot-container {
  height: 100px;
  margin-bottom: 1%;
}

#login-forgot-container > div > button {
  width: 95px;
  height: 45px;
  border-radius: 8px;
  font-size: 17px;
  background: #808080;
  border: 1px solid #a1a0a0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 200;
  margin-top: 1%;
}

#login-forgot-container > div > p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 17px;
  text-decoration: underline;
}

#login-forgot-container > div > p:hover {
  cursor: pointer;
}

.post-form-content {
  height: 6%;
  width: 100%;
  color: white;
  margin-bottom: 1%;
}

.post-form-content-detail{
  width: 70%;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 200;
}

.post-form-content-link {
  text-decoration: underline;
}

.post-form-content-link:hover {
  cursor: pointer;
}




#create-account-container {
  height: 75px;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 1%;
}

#create-account-button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  font-size: 17px;
  background: #fed136;
  border: 1px solid #a1a0a0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 200;
  margin-top: 1%;
}

#create-account-button:hover {
  cursor: pointer;
}
