#contracts-page {
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
}

#nav-container {
  height: 8%;
}

#contracts-title-container {
  background: #474747;
  border: none;
}

.child-row {
  width: 100%;
  margin: 5px auto;
  background: #828282;
  border: none;
}
