body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Small devices (landscape phones, 250px and up) */
@media (min-width: 250px) { 
  #main-header-text {
    font-size: 0.9em;
  }
  
  #main-description-text {
    font-size: 0.5em;
  }
  
  #main-fabfoundry-link-text {
    font-size: 0.5em;
  }
  
  .nav-button {
      height: 2.0em;
      width: 4.7em;
  }
}

/* Small devices (landscape phones, 350px and up) */
@media (min-width: 350px) { 
  #main-header-text {
    font-size: 1.1em;
  }
  
  #main-description-text {
    font-size: 0.7em;
  }
  
  #main-fabfoundry-link-text {
    font-size: 0.7em;
  }
  
  .nav-button {
    height: 2.2em;
    width: 5.0em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  #main-header-text {
    font-size: 1.3em;
  }
  
  #main-description-text {
    font-size: 0.9em;
  }
  
  #main-fabfoundry-link-text {
    font-size: 0.9em;
  }
  
  .nav-button {
    height: 2.0em;
    width: 4.7em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #main-header-text {
    font-size: 1.4em;
  }
  
  #main-description-text {
    font-size: 1.0em;
  }
  
  #main-fabfoundry-link-text {
    font-size: 1.0em;
  }
  
  .nav-button {
    height: 2.3em;
    width: 5.0em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #main-header-text {
    font-size: 1.5em;
  }
  
  #main-description-text {
    font-size: 1.1em;
  }
  
  #main-fabfoundry-link-text {
    font-size: 1.1em;
  }
  
  .nav-button {
    height: 2.5em;
    width: 5.5em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #main-header-text {
    font-size: 1.8em; /* 1.5x default size */
  }
  
  #main-description-text {
    font-size: 1.15em; /* 1.5x default size */
  }
  
  #main-fabfoundry-link-text {
    font-size: 1.15em; /* 1.5x default size */
  } 
  
  .nav-button {
    height: 2.5em;
    width: 5.5em;
  }
  
}


#home-page {
  height: 90%;
  background: black;
}

.login-button {
  background-color: #808080;
  border-color: #5f697a;
}

.login-button:hover, .login-button:active {
  background-color: #808080;
  border-color: #5f697a;
  cursor: pointer;
}

.signup-button {
  background-color: #fed136;
  border-color: #fed136;
}

.signup-button:hover, .signup-button:active{
  background-color: #fed136;
  border-color: #fed136;
  cursor: pointer;
}

.nav-button {
  margin: 7px;
  /*height: 5vh;
  width: 12vh;*/
  /*font-size: 2vh;*/
  border-radius: 8px;
  border: 1px solid #a1a0a0;
  font-weight: 200;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}









#home-content {
  height: 100%;
  background: black;
}

#home-content-container {
  height: 75%;
  background-image: url('../assets/Home/background_map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#home-main-header {
  height: 30%;
  text-align: center;
  margin: 1%;
}

#main-header {
  background: rgba(0, 0, 0, .6);
  height: 50%;
  width: 70%;
  position: relative;
  top: 50%;
  left: 15%;
  right: 15%;
}

#main-header-text {
  color: white;
  font-weight: 500;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 3%;
}

#home-main-description {
  height: 20%;
  text-align: center;
  margin: 1%;
}

#main-description {
  background: rgba(0, 0, 0, .6);
  height: 100%;
  width: 60%;
  position: relative;
  left: 20%;
  right: 20%;
}

#main-description-text {
  color: white;
  font-weight: 300;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 3%;
}

.bold {
  font-weight: 600;
}

#home-main-login-signup {
  height: 10%;
  text-align: center;
}

#login-signup-buttons {
  height: 100%;
  width: 100%;
}

#login-signup-buttons .nav-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


#home-main-fabfoundry-link {
  height: 10%;
  text-align: center;
  margin: 1%;
}

#main-fabfoundry-link {
  background: rgba(0, 0, 0, .6);
  height: 100%;
  width: 60%;
  position: relative;
  left: 20%;
  right: 20%;
}

#main-fabfoundry-link-text {
  color: white;
  /*font-size: 1.3vw;*/
  font-weight: 300;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 3%;
}

#main-fabfoundry-link-text .underline{
  text-decoration: underline;
}
