body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#home-page {
  height: 100vh;
  width: 100vw;
  background: black;
}

.navbar {
  background-color: black!important;
}

.navbar-logo {
  font-size: 25px;
}

.login-button {
  background-color: #5f697a;
  border-color: #5f697a;
}

.login-button:hover, .login-button:active {
  background-color: #5f697a;
  border-color: #5f697a;
  cursor: pointer;
}

.signup-button {
  background-color: #fed136;
  border-color: #fed136;
}

.signup-button:hover, .signup-button:active{
  background-color: #fed136;
  border-color: #fed136;
  cursor: pointer;
}

.nav-button {
  margin: 7px;
  width: 11vh;
  height: 4vh;
  font-size: 1.7vh;
  border-radius: 8px;
}









#home-content {
  height: 100%;
  background: black;
}

#home-content-container {
  height: 75%;
  background-image: url('../assets/Home/background_map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#home-main-header {
  height: 30%;
  text-align: center;
  margin: 1%;
}

#main-header {
  background: rgba(0, 0, 0, .6);
  height: 50%;
  width: 70%;
  position: relative;
  top: 50%;
  left: 15%;
  right: 15%;
}

#main-header-text {
  color: white;
  font-size: 2.0vw;
  font-weight: 500;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 3%;
}

#home-main-description {
  height: 20%;
  text-align: center;
  margin: 1%;
}

#main-description {
  background: rgba(0, 0, 0, .6);
  height: 100%;
  width: 60%;
  position: relative;
  left: 20%;
  right: 20%;
}

#main-description-text {
  color: white;
  font-size: 1.3vw;
  font-weight: 300;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 3%;
}

.bold {
  font-weight: 600;
}

#home-main-login-signup {
  height: 10%;
  text-align: center;
}

#login-signup-buttons {
  height: 100%;
  width: 100%;
}

#login-signup-buttons .nav-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* ---------------------------------------------------------- */

#home-main-fabfoundry-link {
  height: 10%;
  text-align: center;
  margin: 1%;
}

#main-fabfoundry-link {
  background: rgba(0, 0, 0, .6);
  height: 100%;
  width: 60%;
  position: relative;
  left: 20%;
  right: 20%;
}

#main-fabfoundry-link-text {
  color: white;
  font-size: 1.3vw;
  font-weight: 300;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 3%;
}

#main-fabfoundry-link-text .underline{
  text-decoration: underline;
}

/*#auth-forms-container {
  height: 100%;
}

.auth-forms {
  text-align: center;
}

#login-form, #create-user-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#login-form input, #create-user-form input {
  width: 150px;
  border: 3px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: lightgrey;
  text-align: center;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

#login-form input:focus, #create-user-form input:focus {
  outline: none;
  border-bottom: 10px solid;
  width: 250px;
  border-color: #fed136;
}

#login-form input:invalid, #create-user-form input:invalid {
  border-color: red;
}

.login-create-form-input {
  margin: 25px;
}

#login-button, #create-user-button {
  width: 100px;
  border-radius: 20px;
  background: black;
}

.center-OR {
  text-align: center;
}

#login-OR-create {
  position: relative;
  top: 50%;
  left: 43%;
  transform: translateY(-50%);
  border: 3px solid #fed136;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  color: #fed136;
}*/
