#navbar-container {
  padding: 0;
  background: black;
  height: 8%;
}

#navbar {
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#navbar.navbar-expand-lg.navbar-dark.bg-dark {
  height: 95%;
}

.collapsed-nav-container {
  text-align: center;
}

.navbar {
  background-color: black!important;
  position: relative;
  z-index: 1000;
}

.navbar-logo {
  font-size: 25px;
}


.nav-item.dropdown {
  list-style-type: none;
}


#navbarDropdownMenuLink {
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 200;
  border-radius: 5px;
  border: 2px solid lightgray;
}

.dropdown-menu > a:hover {
  text-decoration: underline;
}

.dropdown-menu > a:active {
  background: lightgrey;
}
